body {
    display: flex;
    margin: 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 4px solid black;
    padding: 10px
}

.card1 {
    font-size: medium;
    color: #565959
}

.title {
    font-size: xx-large;
    padding-top: 30px;
    padding-left: 30px;
    font-weight: lighter;
}

.author {
    font-size: large;
    padding-left: 30px;
}

.ratings {
    width: 150px;
    padding-left: 30px;
}

.cats {
    font-size: large;
    padding-left: 30px;
}

.para {
    font-size: large;
    padding-left: 30px;
}

.main-img {
    width: 400px;
    box-shadow: 0px 2px 5px lightgray;
}
